@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Sintony:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
}

body {
  font-family: "Sintony", sans-serif;
}

h3 {
  font-size: 35px;
  line-height: 22px;
}

.container {
  max-width: 1169px;
  margin: auto;
}

.header {
  background: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    z-index: 10;
  }
}

.header .container {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header .container {
    display: block;
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    position: relative;
    top: 23px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header__navbar {
    background-color: #fff;
    position: relative;
    top: 20px;
  }
}

.header__navbar .toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__navbar .toggle {
    text-align: right;
    display: block;
    font-size: 20px;
    color: grey;
    position: relative;
    bottom: 33px;
    padding-right: 15px;
    cursor: pointer;
  }
}

.header__navbar ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .header__navbar ul {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header__navbar li {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
  }
}

.header__navbar a {
  color: #2c465a;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
}

.header__right .btn-cta span {
  position: relative;
  z-index: 1;
}

.header__right .btn-cta {
  background: #fea100;
  border-radius: 3px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 199px;
  height: 47px;
  text-decoration: none;
  color: #fff;
}

.header__right .btn-cta::before {
  content: "";
  width: 22px;
  height: 20px;
  background: url(../images/icon-plate.png) no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 1;
  margin-right: 10px;
}

.header__right .btn-cta::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  border: 1px solid #fff;
  border-radius: 3px;
}

.header__right .cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.header__right .cart span {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 11px;
  color: #fff;
  background: #fe4c8d;
  text-align: center;
  line-height: 15px;
}

.header__right .cart::after {
  content: "";
  width: 6px;
  height: 6px;
  background: url(../images/arrow.png) no-repeat center;
  margin-left: 15px;
}

.opening .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opening__time h3 {
  text-align: left;
}

.opening__time p {
  font-family: "Playfair Display", serif;
  font-size: 17.5px;
}

.opening__time span {
  font-size: 27px;
  font-weight: bold;
  color: #fea100;
}

.opening__img {
  position: relative;
  bottom: 60px;
}

.about {
  background-image: url(../images/s1-backgroud.png);
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .about {
    position: relative;
    z-index: 9;
  }
}

.about h1 {
  font-size: 56px;
  line-height: 30px;
  color: #ffffff;
  margin: 0px 8px 0px 8px;
}

.history {
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .history {
    padding: 15px;
  }
}

.history__title {
  padding-top: 97px;
  padding-bottom: 34px;
}

@media screen and (max-width: 768px) {
  .history__title {
    padding-top: 0px;
    padding-bottom: 15px;
  }
}

.history__text {
  font-size: 14px;
  color: #5c6369;
  line-height: 26px;
  text-align: center;
}

.history .container {
  width: 969px;
}

.history__video {
  padding-top: 61px;
}

@media screen and (max-width: 768px) {
  .history__video {
    padding-top: 15px;
  }
}

.history__span {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  padding-top: 21px;
  padding-bottom: 21px;
}

@media screen and (max-width: 768px) {
  .history__span {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.history__hline {
  color: #e3e3e3;
}

.cooks {
  background-image: url("../images/background.png");
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .cooks {
    padding-top: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.cooks__title {
  text-align: center;
  line-height: 22px;
  font-size: 35px;
  padding-top: 97px;
  font-weight: bold;
  padding-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .cooks__title {
    padding-top: 0px;
  }
}

.cooks__chefs {
  width: auto;
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  .cooks__chefs {
    padding-left: 0px;
  }
}

.cooks__chefs p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  padding-top: 25.5px;
  background-color: #ffffff;
  padding-bottom: 26px;
  width: 270px;
}

@media screen and (max-width: 768px) {
  .cooks__chefs p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cooks__chefs img {
    width: 100%;
  }
}

.speciality {
  border-bottom: 1px solid #e4e4e4;
}

.speciality .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.speciality__img {
  height: 572px;
  width: 45%;
}

.speciality__content {
  padding-left: 70px;
}

.speciality h3 {
  text-align: left;
  font-size: 35px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 97px;
  padding-bottom: 43px;
}

.speciality h5 {
  text-align: left;
  font-size: 15px;
  line-height: 17px;
  padding-bottom: 10px;
  font-weight: 900;
}

.speciality p {
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 43px;
  color: #5c6369;
}

.slick-dots li button {
  position: absolute;
  top: 32px;
}

.slick-dots .slick-active button:before {
  color: #fea100 !important;
  border: 2px solid #fea100;
  border-radius: 50%;
  height: 8px !important;
  width: 8px !important;
  line-height: 8px !important;
  font-size: 4px !important;
}

.slick-dots li button::before {
  border: 2px solid #656260;
  border-radius: 50%;
  font-size: 3px !important;
  line-height: 8px !important;
  height: 8px !important;
  width: 8px !important;
  color: transparent !important;
}

.slick-dots li button:hover::before {
  border: 2px solid #fea100 !important;
}

.slick-dots li {
  margin: 0 -1px !important;
}

.footer {
  background: #373844;
  padding-top: 80px;
  padding-bottom: 65px;
}

.footer .container {
  width: 1122px;
}

.footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.footer .footer__top .footer__widget {
  max-width: 33.33%;
}

.footer .footer__top .footer__widget h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
  margin-bottom: 40px;
}

.footer .footer__top .footer__widget ul {
  padding-left: 0;
  list-style: none;
}

.footer .footer__top .footer__widget li {
  margin-bottom: 10px;
}

.footer .footer__top .footer__widget a, .footer .footer__top .footer__widget p {
  color: #adb2b7;
  font-size: 14px;
  text-decoration: none;
}

.footer .footer__top .footer__widget form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer .footer__top .footer__widget input {
  width: 310px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #52535e;
  margin-right: 10px;
  font-size: 14px;
  background: url(../images/icon_email.png) no-repeat;
  background-position: 15px 25px;
  padding: 6px 25px 6px 45px;
}

.footer .footer__top .footer__widget input:focus {
  outline: none;
}

.footer .footer__top .footer__widget button {
  background: #fea100;
  width: 150px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}

.footer .footer__top .footer__widget a.store {
  margin-bottom: 10px;
  display: block;
}

.footer .footer__top .footer__widget.big {
  max-width: 50%;
}

.footer .footer__top .footer__widget.big ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .footer__top .footer__widget.big li {
  margin-right: 10px;
}

.footer .footer__bottom {
  text-transform: uppercase;
  color: #adb2b7;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.075em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__bottom a {
  color: #fff;
}

.footer .footer__bottom p {
  display: inline-block;
  background: #373844;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 2;
}

.footer .footer__bottom a {
  text-decoration: none;
}

.footer .footer__bottom ::before {
  content: "";
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 1px;
  background: #52535e;
  position: absolute;
  z-index: 1;
}
/*# sourceMappingURL=styles.css.map */