$break768: 768px;

.about {
    background-image: url(../images/s1-backgroud.png);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $break768) {
        position: relative;
        z-index: 9;
    }

    h1 {
        font-size: 56px;
        line-height: 30px;
        color: #ffffff;
        margin: 0px 8px 0px 8px;
    }
}