@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Sintony:wght@400;700&display=swap');

$font-family-heading: 'Playfair Display', serif;
$font-family-base: 'Sintony', sans-serif;

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-heading;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: $font-family-base;
}

h3 {
    font-size: 35px;
    line-height: 22px;
}
