$break768: 768px;

.header {
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
    @media screen and (max-width: $break768) {
        position: relative;
        z-index: 10;
    }

    .container {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $break768) {
            display: block;
            padding: 0px;
        }
    }

    &__logo {
        @media screen and (max-width: $break768) {
            position: relative;
            top: 23px;
            padding-left: 15px;
        }
    }

    &__navbar {
        @media screen and (max-width: $break768) {
            background-color: #fff;
            position: relative;
                top: 20px;
        }

        .toggle {
            display: none;
            @media screen and (max-width: $break768) {
            text-align: right;
            display: block;
            font-size: 20px;
            color: grey;
            position: relative;
            bottom: 33px;
            padding-right: 15px;
            cursor: pointer;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
            @media screen and (max-width: $break768) {
                display: block;
                text-align: center;
            }
        }

        li {
            @media screen and (max-width: $break768) {
                font-weight: bold;
                font-size: 15px;
                line-height: 25px;
            }
        }

        a {
            color: #2c465a;
            font-size: 14px ;
            text-transform: uppercase;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__right {
        display: flex;
        @media screen and (max-width: $break768) {
            display: none;
        }

        .btn-cta span {
            position: relative;
            z-index: 1;
        }

        .btn-cta {
            background: #fea100;
            border-radius: 3px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 199px;
            height: 47px;
            text-decoration: none;
            color: #fff;
        }

        .btn-cta::before {
            content: "";
            width: 22px;
            height: 20px;
            background: url(../images/icon-plate.png) no-repeat center;
            background-size: contain;
            position: relative;
            z-index: 1;
            margin-right: 10px;
        }   

        .btn-cta::after {
            content: "";
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            position: absolute;
            
            border: 1px solid #fff;
            border-radius: 3px;
        }

        .cart {
            position: relative;
            display: flex;
            align-items: center;
            margin-right: 30px;
        }

        .cart span {
            position: absolute;
            top: 8px;
            right: 15px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 11px;
            color: #fff;
            background: #fe4c8d;
            text-align: center;
            line-height: 15px;
        }

        .cart::after {
            content: "";
            width: 6px;
            height: 6px;
            background: url(../images/arrow.png) no-repeat center;
            margin-left: 15px;
        }
    }
}