.container {
    width: 100%;
    max-width: 1155px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
}

.header .container {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
  
.header .container ul li a {
    padding-left: 15px;
    padding-right: 15px;
    color: #2c465a;
    text-transform: uppercase;
    font-size: 14px ;
    text-decoration: none;
}

.cta-button {
    background: #fea100;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
    width: 199px;
    height: 47px;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.cta-button::before {
    content: "";
    width: 22px;
    height: 20px;
    background: url(../images/icon-plate.png) no-repeat center;
    background-size: contain;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.cta-button::after {
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    left: 5px;
    top: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.cta-button span {
    position: relative;
    z-index: 1;
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.cart-icon span {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    background: #fe4c8d;
    text-align: center;
    line-height: 15px;
}

.cart-icon::after {
    content: "";
    width: 6px;
    height: 6px;
    background: url(../images/arrow.png) no-repeat center;
    margin-left: 15px;
}

.header__right {
    display: flex;
}

main {
    min-height: 50vh;
}

.header .toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
        z-index: 10;
    }
       
    .header .container {
        display: block;
        padding: 0px;
    }

    .header .logo {
        position: relative;
        top: 23px;
        padding-left: 15px;
    }

    .header .menu {
        background-color: #fff;
        position: relative;
        top: 20px;
    }
  
    .header .navigation {
        display: none; 
        padding-bottom: 73px;
    }
    
    .header .toggle {
        text-align: right;
        display: block;
        font-size: 20px;
        color: grey;
        position: relative;
        bottom: 33px;
        padding-right: 15px;
    }

    .header .container ul {
        display: block;
        text-align: center;
    }
        
    .header .container ul li {
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
    }

    .header .header__right {
        display: none;
    }
    
    .section1 {
        position: relative;
        z-index: 9;
    }
}