$break768: 768px;

.history {
    padding-bottom: 100px;

    @media screen and (max-width: $break768) {
        padding: 15px;
    }
    
    &__title {
        padding-top: 97px;
        padding-bottom: 34px;
        @media screen and (max-width: $break768) {
            padding-top: 0px;
            padding-bottom: 15px;
        }
    }

    &__text {
        font-size: 14px;
        color: #5c6369;
        line-height: 26px;
        text-align: center;
    }

    .container {
        width: 969px;
    }

    &__video {
        
        padding-top: 61px; 
        @media screen and (max-width: $break768) {
            padding-top: 15px;
        }
    }
    
    &__span {
        font-weight: bold;
        font-size: 13px;
        line-height: 17px;
        padding-top: 21px;
        padding-bottom: 21px;
        @media screen and (max-width: $break768) {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__hline {
        color: #e3e3e3;
    }
}
