
.opening {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__time {
        h3 {
            text-align: left;
        }

        p {
            font-family: $font-family-heading;
            font-size: 17.5px;
        }

        span {
            font-size: 27px;
            font-weight: bold;
            color: #fea100;
        }
    }

    &__img {
        position: relative;
        bottom: 60px;
    }
}