.section4 {
    .section4-top {
        width: 100%;
        min-height: 572px;
        border-bottom: 1px solid #e4e4e4;
        align-items: center;
        display: flex;
    }

    .section4-top-left {
        width: 46.1%;
        height: 572px;
    }

    .section4-top-right {
        padding-left: 69px;
        height: 572px;
    }

    img {
        width: 100%;
        height: 572px;
        object-fit: cover;
    }

    .sec4-top-title {
        font-size: 35px;
        line-height: 22px;
        font-weight: 600;
        padding-top: 97px;
        padding-bottom: 43px;
    }

    .sec4-top-subhead {
        font-size: 15px;
        line-height: 17px;
        padding-bottom: 10px;
        font-weight: 900;
    }

    .sec4-top-text {
        font-size: 14px;
        line-height: 26px;
        padding-bottom: 43px;
        color: #5c6369;
    }

    .sec4-bot-container {
        width: 1169px;
        margin: auto;
        display: flex;
    }

    .sec4-bot-title {
        font-size: 35px;
        line-height: 22px;
        font-weight: 600;
    }

    .sec4-bot-center {
        width: 411px;
        margin-left: 152px;
        display: flex;
    }

    .sec4-bot-content2 {
        padding-left: 80px;
    }

    .sec4-bot-text {
        padding-top: 91.5px;
    }

    span {
        font-weight: 900;
        color: #fea100;
        font-size: 28px;
        font-family: $font-family-heading;
    }

    i {
        font-family: $font-family-heading;
    }

    .sec4-bot-left {
        padding-top: 103px;
    }

    .s4-bot-img {
        padding-left: 147px;
        position: relative;
        top: -50px;
        height: 210px;
        width: 210px;
    }
}

@media screen and (max-width:768px) {
    .section4 {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .section4 {
        .section4-top {
            display: block;
        }

        .section4-top-left {
            width: 100%;
        }

        .section4-top-right {
            height: auto;
            padding-left: 0px;
        }
        
        .sec4-top-title {
            padding-top: 15px;
            text-align: center;
            padding-bottom: 24px;
        }
        
        .sec4-top-subhead {
            text-align: center;
        }

        .sec4-top-text {
            text-align: center;
            padding-bottom: 15px;
        }

        .section4-bot {
            text-align: center;
            padding-bottom: 15px;
            padding-top: 15px;
        }

        .sec4-bot-container {
            width: 100%;
            display: block;
        }

        .sec4-bot-left {
            padding-top: 0px;
        }
        
        .sec4-bot-text {
            padding-top: 15px;
        }
        
        .sec4-bot-center {
            width: 100%;
            display: block;
            margin: 0;
        }

        .sec4-bot-content2 {
            padding-left: 0px;
        }

        .s4-bot-img {
            padding-left: 0px;
            position: relative;
            top: 0px;
            width: 210px;
            padding-top: 15px;
        }

        img {
            height: auto;
        }

        .section4-top-left {
            height: auto;
        }
    }    
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;

        .footer__widget {
            max-width: none;
    
            big {
                max-width: none;
            }

            ul {
                display: flex;   
            }

            form {
                display: none;
            }

            h3 {
                margin-bottom: 15px;
            }
        }

        .footer__top {
            display: block;
            padding-bottom: 0px;
        }

        .footer__bottom {
            display: block;
        }

        .footer-h3-center {
            display: none;
        }
    
        .footer-text-center {
            display: none;
        }
      
        .footer-nav {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer-row {
            display: flex;
            justify-content: center;
        }
    }
}       
    
   
 