.section1 {
    background-image: url(/images/s1-backgroud.png);
    height: 250px;

    .headline {
        font-size: 56px;
        line-height: 30px;
        color: #ffffff;
        font-weight: bold;
        padding-top: 37px;
    }

    .s1-center {
        display: flex;
        position: relative;
        width: 333px; margin: auto;
        padding-top: 70px;
    }

    .left-leaf {
        width: 42px;
        height: 22px;
        position: relative;
        top: 46px;
        right: 8px;
    }

    .right-leaf {
        position: relative;
        width: 42px;
        height: 22px;
        left: 8px;
        top: 46px;
    }
}

