.speciality {
    .container {
        display: flex;
    }

    &__img {
        
        height: 572px;
        width: 45%;
    }

    &__content {
        padding-left: 70px;
    }

    h3 {
        text-align: left;
        font-size: 35px;
        line-height: 22px;
        font-weight: 600;
        padding-top: 97px;
        padding-bottom: 43px;
    }

    h5 {
        text-align: left;
        font-size: 15px;
        line-height: 17px;
        padding-bottom: 10px;
        font-weight: 900;
    }

    p {
        font-size: 14px;
        line-height: 26px;
        padding-bottom: 43px;
        color: #5c6369;
    }
}
 